body {
 

}

.parallax {
  background-image: url('./assets/pexels-johannes-plenio-1103970.jpg');
  background-size: cover;
  min-height: 1000px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dov {
  height:300px;
  background-color:rgb(155, 174, 168);
  font-size:36px;
  opacity: 0.6;
  margin-top: 700px;
}