/* @font-face {
  font-family: firstFont;
  src: url('NugoSansLight-9YzoK.ttf');
} */
@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Open+Sans:wght@300&display=swap');
body {

/* overflow: hidden; */

}

.parallax {
  background-image: url('./assets/pexels-johannes-plenio-1103970.jpg');
  background-size: cover;
  min-height: 1000px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#dov {
  height:3000px;
  background-color:rgb(155, 174, 168);
  font-size: xx-large;
  margin-top: 325px;
  text-align: center;
}

#welcomeDiv {
  text-align: center;
  margin-top: 125px;
}
#welcomeHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: xxx-large;
}

#subHeader {
  font-family: 'Open Sans', sans-serif;
}

#myFace {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-image: url('https://i.imgur.com/fb2YuWc.jpg');
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

#flexDiv {
  display: flex;
  justify-content: space-evenly;
}